<header>
  <img src="../assets/logo.png" alt="logo" width="100" height="100"/>
<h1>Galaxy Book Store</h1>
</header>
<nav align="center">
  <a routerLink="/home"> Home | </a>
  <a routerLink="/books"> Books | </a>
  <a routerLink="/products"> Products | </a>
  <a routerLink="/findstore">Find Store | </a>
  <a routerLink="/review">Review  | </a>
  <a routerLink="/login">Login |</a>
  <a routerLink="/search">Search |</a>
  <a routerLink="/authors"> Authors |</a>
</nav>
<br/>
<router-outlet></router-outlet>
<br/>

<footer>
  <div style="margin-left:20px">
  <p>Galaxy Book Store Agency</p>
  <p>No.34, Tirchengode</p>
  <p>Namakkal D.T</p>
  <p><b>Phone No: </b> 9790013186 / 9443253153</p>
  <p><b>Whatsapp: </b>9790013186</p>
  <p><b>Email: </b>aarthireddy20@gmail.com</p>
  </div>

  <div style="float:right">
  <img src="../assets/payment.jpg" alt="payment method"/>
  </div> 
  <p align="center">Copyright &copy; Galaxystore@2021</p>

</footer>