<div style="display:inline-block;border:2px solid blue;border-Radius:5px;width:200px;margin-Left:30px;padding:20px">
    <nav>
        <li><a routerLink="/findstore/Bengaluru">Bengaluru</a></li>
        <li><a routerLink="/findstore/Chennai">Chennai</a></li>
        <li><a routerLink="/findstore/Mumbai">Mumbai</a></li>
        <li><a routerLink="/findstore/Hyderabad">Hyderabad</a></li>
        <li><a routerLink="/findstore/Delhi">Delhi</a></li>
    </nav>
</div>  
<router-outlet></router-outlet>
