<div>
    <img src="../assets/books.jpg" alt="home"/>
    <div style="margin-left:20px; display:inline-block;vertical-align:top;" >
    <p>Books play a significant role in our life. They say that “When you open a book, you open a new world”. ... A book is like a best friend who will never walk away from you. Books are packed with knowledge, insights into a happy life, life lessons, love, fear, prayer and helpful advice.</p>
    <h4>Best seller books available at affordable cost</h4>
    <h5>COD,Debit & Credit cards are accepted. Shipping all over India</h5>
</div>
</div>
